html, body {
    height: 100%;
    margin: 0;
}

body {
    text-align: center;
}

#grid {
    margin: auto;
    display: flex;
    border: 1px solid black;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
}

.row {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cell {
    height: 100%;
}

.cell-border {
    border: 1px solid black;
}

.options {
    width: 480px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.range-btn p {
    margin: 0;
}